<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flagsmith Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
    <p>
        Hello <span id="identifier-name" th:text="${identifier} ? identifier : 'World!'">World!</span>,
        <button
            id="secret-button"
            th:if="${show_button}"
            th:style="'color: ' + @{${font_colour}} + ';'"
        >Secret Button</button>
    </p>
    <p>
        <form id="form" method="get">
            Identify as a user:
            <label for="identifier">Identifier: </label>
            <input name="identifier" id="identifier"/>
            <br />
            With optional traits:
            <label for="trait-key">Trait Key: </label>
            <input name="trait-key" id="trait-key"/><br />

            <label for="trait-value">Trait Value: </label>
            <input name="trait-value" id="trait-value"/><br />

            <button type="submit">Identify!</button>
        </form>
    </p>
</body>
</html>